.login-header {
  background-color: #663BB7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;           
  font-weight: 400;      
  font-size: 16px;             
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 35px;
  flex-wrap: wrap; /* allows wrapping when screen is small */
  overflow: hidden;
}

.logo-text {
  font-size: 1.5rem;
}

.header-buttons {
  display: flex;
  gap: 1rem; 
}

.home-button {
  background-color: white;
  color: #663BB7;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid white;
}

.home-button:hover {
  background-color: #663BB7;
  color: white;
  border: 2px solid #fff;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh - 35px;
    background: white;
  }
  mat-card {
    margin-top: 10%;
    padding: 2rem;
    width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: white;
  }
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #663BB7;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #663BB7;
    color: rgb(169, 166, #663BB7);
    border: 2px solid #663BB7;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: white;
    color: #663BB7;
    border: 2px solid #111;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 600px) {
    .login-header {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 0.5rem 1rem;
    }
  
    .header-buttons {
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      gap: 0.5rem;
      margin-top: 5px;
    }
  
    .home-button {
      width: 100%;
      text-align: center;
    }
  }