<div class="admin-container">
  <div class="admin-header">
    <h2 class="admin-logo">Issue Tracker :- Project Manager</h2>
    <div class="header-buttons">
      <button mat-raised-button class="home-button" routerLink="/pm-create-project"><mat-icon>add_box</mat-icon>
        Create Project</button>
      <button mat-raised-button class="home-button" routerLink="/pm-track-issues"><mat-icon>assignment</mat-icon>
        Track Issues</button>
      <button mat-raised-button class="home-button" routerLink="/home">
        <mat-icon>exit_to_app</mat-icon> Log out
      </button>
    </div>
  </div>
  <div class="content">
    <div class="content-box">
      <h3>Welcome to the Issue Tracker Project Manager Panel</h3>
      <p>Here you can create and manage projects, assign developers and testers, and track issues raised by your team.</p>
    </div>
  </div>
</div>